* {
  padding: 0;
  margin: 0;
}

.game-canvas {
  position: absolute;
  width: 100%

}

#game-container {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-top: 2.5%;
}

#background-canvas {
  z-index: 0;
  background-image: url(assets/space-background.jpg);
  background-size: 100%;
}

#tile-canvas {
  z-index: 1;
}

#sprite-canvas {
  border: 3px solid black;
  z-index: 2;
}

#ui-canvas {
  z-index: 3;
}
